a:link, a:visited {
  background-color: #2E7D32;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #3b913f;
  color: white;
}

.header-nav {
  background-color: #2E7D32;
  position: sticky;
  top: 0;
  margin-bottom: 2%;
}

.centered-nav{
  margin-left: 10%;
}
