<h2>Citations</h2>
<p>
  Below are the sources that provided information directly featured in this application. Other sources that provided information featured
  in the study as a whole can be seen in the final paper upon completion.
</p>
<ul>
  <li>Cybersecurity and Infrastructure Security Agency. (2009a, June 30). Understanding Anti-Virus Software. https://us-cert.cisa.gov/ncas/tips/ST04-005</li>
  <li>Cybersecurity and Infrastructure Security Agency. (2009b, July 14). Understanding Patches and Software Updates. https://us-cert.cisa.gov/ncas/tips/ST04-006</li>
  <li>Google. (n.d.). Safe Browsing site status. Retrieved March 1, 2021, from https://transparencyreport.google.com/safe-browsing/search?url=test.unsafe.google.com.net</li>
  <li>Jackson, D. (2020, April 1). Why You Should Always Lock Your Computer. NetStandard. https://www.netstandard.com/always-lock-computer#:%7E:text=Not%20locking%20your%20computer%20is,share%20data%20from%20your%20computer.</li>
  <li>Marshall, A. (2021, February 24). The best VPN service 2021. TechRadar. https://www.techradar.com/vpn/best-vpn</li>
  <li>Méndez, R. (2020, April 27). Don’t click links in unsolicited text messages. Federal Trade Commission: Consumer Information. https://www.consumer.ftc.gov/blog/2020/04/dont-click-links-unsolicited-text-messages#:%7E:text=Clicking%20could%20expose%20you%20to,to%20irs.gov%2Fcoronavirus.</li>
  <li>R, K. (2017, August 24). Living with password re-use. National Cyber Security Centre. https://www.ncsc.gov.uk/blog-post/living-password-re-use</li>
  <li>State Office of Cybersecurity. (n.d.). Tips for safely using public Wi-Fi. Wa Tech. Retrieved March 1, 2021, from https://cybersecurity.wa.gov/tips-safely-using-public-wi-fi</li>
  <li>Tips for Using Public Wi-Fi Networks. (2014, March). Federal Trade Commission. https://www.consumer.ftc.gov/articles/0014-tips-using-public-wi-fi-networks</li>
  <li>Turner, B. (2021, February 17). Best password managers in 2021: Free and paid software to secure your passwords. TechRadar. https://www.techradar.com/best/password-manager</li>
  <li>UC San Diego. (n.d.). Recommended Antiviruses. Retrieved March 1, 2021, from https://resnet.ucsd.edu/security/recommended-av.html</li>
  <li>University of Massachusetts Amherst. (n.d.). Malware: Viruses, Spyware, Adware & Other Malicious Software. Retrieved March 1, 2021, from https://www.umass.edu/it/security/malware-viruses-spyware-adware-other-malicious-software</li>
  <li>Wong, A. (2013, December 11). Suspicious Links. Berkeley Lab. https://commons.lbl.gov/display/cpp/Suspicious+Links</li>
</ul>
