<h2>Questionnaire</h2>
<p>
  If you haven't yet, please complete the consent form and pre-survey <a href="https://forms.gle/m1QcSpM6WbAxa7Nz8" target="_blank">linked here</a>.
  Then, answer the questions below to be paired up with advice specific to your cyber security needs.
</p>

<form id="form-main">
  <p>1) Do you use the same 1-3 passwords for most or all of your online accounts? (includes similar passwords ex: change of only a few characters)</p>
    <input type="radio" id="pw-yes" name="pw" value="yes">
    <label for="pw-yes">Yes</label><br>
    <input type="radio" id="pw-no" name="pw" value="no">
    <label for="pw-no">No</label><br>

  <p>2) Do you have antivirus software on your computer?</p>
    <input type="radio" id="anti-yes" name="anti" value="yes">
    <label for="anti-yes">Yes</label><br>
    <input type="radio" id="anti-no" name="anti" value="no">
    <label for="anti-no">No</label><br>

  <p>3) Do you avoid updating software or put updates off until they are required?</p>
    <input type="radio" id="update-yes" name="update" value="yes">
    <label for="update-yes">Yes</label><br>
    <input type="radio" id="update-no" name="update" value="no">
    <label for="update-no">No</label><br>

    <p>4) Do you click on suspicious links or links that lead to suspicious websites?</p>
    <input type="radio" id="links-yes" name="links" value="yes">
    <label for="links-yes">Yes</label><br>
    <input type="radio" id="links-no" name="links" value="no">
    <label for="links-no">No</label><br>

    <p>5) Do you leave unlocked devices unattended?</p>
    <input type="radio" id="unlocked-yes" name="unlocked" value="yes">
    <label for="unlocked-yes">Yes</label><br>
    <input type="radio" id="unlocked-no" name="unlocked" value="no">
    <label for="unlocked-no">No</label><br>
    <input type="radio" id="unlocked-sometimes" name="unlocked" value="sometimes">
    <label for="unlocked-sometimes">Sometimes</label><br>

    <p>6) Do you use unsecured public Wi-Fi?</p>
    <input type="radio" id="wifi-yes" name="wifi" value="yes">
    <label for="wifi-yes">Yes</label><br>
    <input type="radio" id="wifi-yesbut" name="wifi" value="yesbut">
    <label for="wifi-yesbut">Yes, but I verify it belongs to the business or place I am at</label><br>
    <input type="radio" id="wifi-no" name="wifi" value="no">
    <label for="wifi-no">No</label><br>

    <button mat-stroked-button type="submit" value="submit" id="main-submit" color="primary" class="centered-buttons">Submit</button>
</form>
