<mat-progress-bar mode="determinate" [value]="progressValue" id="progress-bar" color="primary"></mat-progress-bar>
<h2>Solutions</h2>
<p class="indent">
  Read through the information and suggested actions based on the answers you gave in the questionnaire. Select the button labeled "Got it!" after
  reading through each section. Once complete, please complete the post-survey section of the Google Form and submit the form.
</p>
<div id="answerDiv">
  <div id="pw-solution" class="solution" hidden>
    <h3>Password Help</h3>
    <h4>Information</h4>
    <p>
      Never reuse passwords on accounts that are important to you, or accounts that hold important information.
      Doing this will allow an attacker that breaks into one of your accounts to get into all accounts that use that password.
    </p>
    <h4>Suggested Actions</h4>
    <p>Remembering many complex passwords can be difficult and annoying. Try the following tips to help you secure yourself.</p>
    <ul>
      <li>
        Use a password manager. The following are the highest rated and most of them are free.
        <ul>
          <li><a href="https://www.dashlane.com/" target="_blank">Dashlane (Has a free version)</a></li>
          <li><a href="https://nordpass.com/" target="_blank">NordPass (Has a free version)</a></li>
          <li><a href="https://www.roboform.com/" target="_blank">RoboForm (Has a free version)</a></li>
          <li><a href="https://1password.com/" target="_blank">1Password</a></li>
          <li><a href="https://www.lastpass.com/" target="_blank">LastPass (Has a free version)</a></li>
        </ul>
      </li>
      <li>Write passwords down and store them in a secure place</li>
      <li>
        Change passwords as you notice them
        <ul>
          <li>To avoid having too much work right now, just change the common passwords as you use them</li>
        </ul>
      </li>
      <li>Setup two-factor authentication on your most important accounts</li>
    </ul>
    <button mat-stroked-button id="pw-solution-completion" (click)="onCompletionButtonClick(0)" color="primary" [disabled]="pwSolutionCompletionDisabled">Got it!</button>
  </div>

  <div id="antivirus-solution" class="solution" hidden>
    <h3>Antivirus Help</h3>
    <h4>Information</h4>
    <p>
      Malware can infect your computer to destroy your data, steal your data, display ads, slow down your computer and more.
      Antivirus software can scan automatically or manually to find and get rid of malware.
    </p>
    <h4>Suggested Actions</h4>
    <p>
      Installing antivirus software is one of the easiest ways to protect yourself against malware. Below are the top recommended options (each of these has a free version).
    </p>
      <ul>
        <li><a href="https://www.avast.com/en-us/index" target="_blank">Avast</a></li>
        <li><a href="https://www.avg.com/en-us/homepage" target="_blank">AVG</a></li>
        <li><a href="https://www.avira.com/" target="_blank">Avira</a></li>
        <li><a href="https://www.sophos.com/" target="_blank">Sophos</a></li>
        <li><a href="https://www.malwarebytes.com/" target="_blank">Malwarebytes</a></li>
      </ul>
      <button mat-stroked-button id="antivirus-solution-completion" (click)="onCompletionButtonClick(1)" color="primary" [disabled]="antivirusSolutionCompletionDisabled">Got it!</button>
  </div>

  <div id="update-solution" class="solution" hidden>
    <h3>Update Help</h3>
    <h4>Information</h4>
    <p>
      Regular updates and patches often target security issues that were discovered within an application. Avoiding updates can leave you vulnerable
      to publicly known exploits. Applying these updates makes you much more secure.
    </p>
    <h4>Suggested Actions</h4>
    <p>
      Here are some tips to help you improve your use of updates in the future:
    </p>
    <ul>
      <li>Enable automatic updates where possible</li>
      <li>Visit the site of the product or a trusted website to get the update rather than clicking on links that advertise the update</li>
      <li>Update your devices when they prompt you to do so</li>
      <li>Use a trusted network to download updates</li>
    </ul>
    <button mat-stroked-button id="update-solution-completion" (click)="onCompletionButtonClick(2)" color="primary" [disabled]="updateSolutionCompletionDisabled">Got it!</button>
  </div>

  <div id="links-solution" class="solution" hidden>
    <h3>Suspicious Link Help</h3>
    <h4>Information</h4>
    <p>
      Links can be disguised in emails or texts that seem to be something that they are not. These links can lead you to downloading malware or being scammed.
    </p>
    <h4>Suggested Actions</h4>
    <p>
      Here are some tips to help you stay safe with links:
    </p>
    <ul>
      <li>Watch out for links that end in .exe</li>
      <li>Pay attention to suspicious link warnings in your email</li>
      <li>Use <a href="https://transparencyreport.google.com/safe-browsing/search?url=test.unsafe.google.com.net" target="_blank">this Google site checker</a> to verify a website (a link can still be bad if not detected by this tool)</li>
      <li>If you are not sure about a link, the safest option is to not click on it</li>
    </ul>
    <button mat-stroked-button id="links-solution-completion" (click)="onCompletionButtonClick(3)" color="primary" [disabled]="linksSolutionCompletionDisabled">Got it!</button>
  </div>

  <div id="locking-solution" class="solution" hidden>
    <h3>Device Locking Help</h3>
    <h4>Information</h4>
    <p>
      Leaving your computer or phone unlocked allows for anyone that passes by to have full access to your data. This could lead
      to theft or other consequences in the future. They could also introduce malware onto your computer with little effort.
    </p>
    <h4>Suggested Actions</h4>
    <p>
      Locking your computer or phone in the future will solve this issue but here are some tips to help you remember:
    </p>
    <ul>
      <li>Setup automatic locking after a certain period of time of inactivity</li>
      <li>Leave a note to remind yourself</li>
    </ul>
    <button mat-stroked-button id="locking-solution-completion" (click)="onCompletionButtonClick(4)" color="primary" [disabled]="lockingSolutionCompletionDisabled">Got it!</button>
  </div>

  <div id="wifi-solution" class="solution" hidden>
    <h3>Wi-Fi Help</h3>
    <h4>Information</h4>
    <p>
      Using an unknown Wi-Fi connection could allow access of your information to someone else. The convenience is not worth what an attacker could steal.
    </p>
    <h4>Suggested Actions</h4>
    <p>
      Here are some tips to help you be more secure when using public Wi-Fi:
    </p>
    <ul>
      <li>Check for the lock or https in the address bar when browsing</li>
      <li>Logout of accounts when you are done using them</li>
      <li>Disable automatic Wi-Fi connection</li>
      <li>Confirm you have the right network</li>
      <li>
        A VPN can better secure your connection by hiding your traffic from the network owner. Here are the top rated VPNs that you can download now. (some of these have trials,
        but they are each a paid service)
        <ul>
          <li><a href="https://www.expressvpn.com/" target="_blank">ExpressVPN</a></li>
          <li><a href="https://nordvpn.com/" target="_blank">NordVPN</a></li>
          <li><a href="https://surfshark.com/" target="_blank">Surfshark</a></li>
        </ul>
      </li>
    </ul>
    <button mat-stroked-button id="wifi-solution-completion" (click)="onCompletionButtonClick(5)" color="primary" [disabled]="wifiSolutionCompletionDisabled">Got it!</button>
  </div>

  <div id="no-recommendations" class="solution" hidden>
    <h3>Congratulations!</h3>
    <p>
      You follow the good security practices outlined by this application! <a href="https://us-cert.cisa.gov/ncas/tips" target="_blank">Here</a> is a website that
      covers more common vulnerabilities in depth. Please continue to the post-survey in the google form.
    </p>
  </div>
</div>
