<h2>Solutions</h2>
<div id="answerDiv">
  <div id="pw-solution" hidden>
    <h3>Password Help</h3>
    <h4>Information</h4>
    <h4>Suggested Actions</h4>
  </div>
  <div id="antivirus-solution" hidden>
    <h3>Antivirus Help</h3>
    <h4>Information</h4>
    <h4>Suggested Actions</h4>
  </div>
  <div id="update-solution" hidden>
    <h3>Update Help</h3>
    <h4>Information</h4>
    <h4>Suggested Actions</h4>
  </div>
  <div id="links-solution" hidden>
    <h3>Suspicious Link Help</h3>
    <h4>Information</h4>
    <h4>Suggested Actions</h4>
  </div>
  <div id="locking-solution" hidden>
    <h3>Device Locking Help</h3>
    <h4>Information</h4>
    <h4>Suggested Actions</h4>
  </div>
  <div id="wifi-solution" hidden>
    <h3>Wi-Fi Help</h3>
    <h4>Information</h4>
    <h4>Suggested Actions</h4>
  </div>
</div>
