<h2>Homepage</h2>
<p>
  Welcome to the CyberPsych app! This app was made using a combination of psychology and cyber security research to improve the online security of you, the user.
  No information is collected by this app as all data will come from the google form <a href="https://forms.gle/m1QcSpM6WbAxa7Nz8" target="_blank">linked here.</a> If you have
  not done so yet, please fill out the first part of the survey on the Pre-App page. When you finish using the application you can fill out the post-App page and
  submit. Thank you for your willingness to participate in my honors capstone project!
</p>
<div class="centered-buttons">
  <a mat-stroked-button href="https://forms.gle/m1QcSpM6WbAxa7Nz8" target="_blank" color="primary" class="button">Survey</a>
  <button mat-stroked-button [routerLink]="['questions']" color="primary" class="button">Begin</button>
</div>
