h2, p, ol {
  margin-left: 19%;
  margin-right: 19%;
}

h2 {
  margin-top: 50px;
}

.centered-buttons {
  margin-left: 20%;
  margin-top: 30px;
}

.button {
  margin-left: 10px;
}

a:link, a:visited {
  color: #3b913f;
}

a:hover, a:active {
  color:  #2E7D32;
}
