<h2>Homepage</h2>
<p>
  Welcome to the CyberPsych app! This app was made using a combination of psychology and cyber security research to improve the online security of you, the user.<br>
  No information is collected by this app as all data will come from the google form linked here LINK GOOGLE FORM HERE. If you have not done so yet, please fill out<br>
  the first part of the survey on the Pre-App page. When you finish using the application you can fill out the post-App page and submit. Thank you for your willingness<br>
  to participate in my honors capstone project!
</p>
<button [routerLink]="['questions']">Begin</button>
